@use '../util/' as *;

.toggle {
    border: none;

    &__wrapper {

    }

    input[type="radio"] {

    }

    &__background {

    }
    
    &__button {
        width: rep(16);
        height: rem(16);
        border-radius: 50px;
        background-color: var(--toggle);
    }

    label {
        
    }
}